div.load-container {
  width: 50vmin;
  height: 50vmin;
  margin: auto;
  position: relative;
}

div.load-messages {
  position: absolute;
}

div.load-messages > h1.loading {
  font-size: 10rem;
}

h2.load-message {
  font-size: 7rem;
}

img.bubble1,
img.bubble2 {
  position: absolute;
  bottom: 25%;
  left: 5%;
  right: 0;
  margin: auto;
  opacity: 0.75;
}

img.bubble1 {
  width: 3vmin;
  animation: bubble 5s ease-in-out infinite;
}

img.bubble2 {
  width: 5vmin;
  animation: bubble 5s ease-in-out infinite;
}

@keyframes bubble {
  0% {
    transform: initial;
  }
  50% {
    transform: translate(3rem, 2rem);
  }
}
