div.nav-buttons {
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  width: 100dvmin;
}

div.nav-buttons > div {
  display: flex;
  flex-direction: column;
  background-color: maroon;
  align-items: center;
  min-width: fit-content;
  width: 25%;
  box-shadow: inset 0 0 10rem black;
  border-radius: 2rem;
  padding: 1rem;
  border: 0.5rem double silver;
  margin: 2rem;
  justify-content: center;
}
