@import "tailwindcss";

:root {
  --backgroundcolor: rgb(0, 0, 25);
  --color1: #00ceb8;
  --color2: rgb(0, 0, 100);
  --color3: #4169e1;
  --color4: #1a1c20;
  --color5: rgb(50, 50, 50);
  --color6: rgb(100, 20, 100);
  --color7: rgb(218, 165, 32);
  --color8: #ffff0040;
  --color9: rgba(218, 165, 32, 0.5);
  --fontPulang: "Pulang", sans-serif;
  --fontChill: "Chillit", sans-serif;
  --fontMetal: "d Dredex", sans-serif;
  --fontHugmate: "Hugmate", sans-serif;
  --fontScore: "Maria", monospace;

  font-size: 1vmin;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  scrollbar-width: none;
}

body {
  background-color: var(--backgroundcolor);
  color: white;
  width: 100%;
}

a.home {
  font-size: 2rem;
  padding: 2rem;
}

img {
  border-radius: 50%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

h1 {
  font-size: 2rem;
}

table {
  width: 100%;
  table-layout: fixed;
  box-sizing: border-box;
}

option {
  background-color: black;
  color: white;
}

div.nav-buttons {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  font-size: 3rem;
}

div.nav-buttons > div {
  display: flex;
  flex-direction: column;
  background-color: var(--color3);
  align-items: center;
  width: 20rem;
  box-shadow: inset 0 0 2rem black;
}

div.nav-buttons > div > label {
  color: var(--color7);
}

div.nav-buttons > div > select {
  width: 100%;
  text-align: center;
}

div.nav button.active {
  color: var(--color1);
}

.green {
  color: rgb(0, 255, 0);
}

.red {
  color: rgb(255, 0, 0);
}

input[type="date"] {
  font-size: 3rem;
  text-align: center;
  background-color: lightslategray;
  color: gold;
  font-weight: 900;
  letter-spacing: 0.25rem;
}

div.load-container {
  width: 50vmin;
  height: 50vmin;
  margin: auto;
  position: relative;
}

div.load-messages {
  position: absolute;
}

div.load-messages > h1.loading {
  font-size: 10rem;
}

h2.load-message {
  font-size: 7rem;
}

img.bubble1,
img.bubble2 {
  position: absolute;
  bottom: 25%;
  left: 5%;
  right: 0;
  margin: auto;
  opacity: 0.75;
}

img.bubble1 {
  width: 3vmin;
  animation: bubble 5s ease-in-out infinite;
}

img.bubble2 {
  width: 5vmin;
  animation: bubble 5s ease-in-out infinite;
}

@keyframes bubble {
  0% {
    transform: initial;
  }
  50% {
    transform: translate(3rem, 2rem);
  }
}
