div.searches-wrapper {
  display: flex;
}

div.searches {
}

div.searches > p {
  font-size: 2rem;
  margin-top: 1rem;
}

div.search_container {
  font-size: inherit;
  width: 100%;
  position: relative;
}

input.search {
  color: black;
  padding: 0;
  padding-right: 10%;
  border: 1cqw ridge var(--color2);
  text-shadow: none;
  background-color: var(--color1);
  width: inherit;
  height: inherit;
  text-align: center;
  font-size: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
}

ol.options {
  border: 1rem ridge var(--color2);
  max-height: 500%;
  overflow: auto;
  position: absolute;
  left: 0;
  z-index: 11;
  width: 100%;
  background-color: var(--color5);
  box-sizing: border-box;
}

ol.options > li {
  padding: 1cqw 0;
  box-shadow: inset 0 0 5rem black;
  color: white;
  text-shadow: var(--text-shadow1);
  font-size: inherit;
  list-style: none;
  display: flex;
  justify-content: center;
}

ol.options > li > div.avatar {
  margin: 0;
}
button.clear,
button.show {
  width: 10%;
  height: inherit;
  margin: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  color: white;
  text-shadow: 0 0 1cqw black;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1cqw solid transparent;
}

button.clear {
  background-color: red;
  font-size: 100%;
}

button.show {
  background-color: var(--color5);
  font-size: 50%;
}
