div.searches-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 20rem;
  overflow: visible;
}

div.searches > p {
  font-size: 2rem;
  margin-top: 1rem;
}

div.search_container > div > div {
  font-size: 75%;
}

div.search_container > div > div:first-child {
  font-size: inherit;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
div.options {
  height: 0;
  border: 1rem ridge var(--color2);
  height: fit-content !important;
  max-height: 25vmax;
  position: relative;
  z-index: 12;
}
input.search {
  color: black;
  padding: 0;
  padding-right: 10%;
  border: 1cqw ridge var(--color2);
  text-shadow: none;
  background-color: var(--color1);
  width: inherit;
  height: inherit;
  text-align: center;
  font-size: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
}

div.options {
}

div.options > ul {
  width: 100%;
  background-color: var(--color5);
}

div.options > ul > li {
  padding: 1cqw;
  box-shadow: inset 0 0 5rem black;
  color: white;
  text-shadow: var(--text-shadow1);
  display: flex;
  align-items: center;
  list-style: none;
}

div.options > ul > li > div.avatar {
  margin: 0;
  display: flex;
  align-items: center;
}
button.clear,
button.show {
  width: 10%;
  height: inherit;
  margin: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  color: white;
  text-shadow: 0 0 1cqw black;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1cqw solid transparent;
}

button.clear {
  background-color: red;
  font-size: 100%;
}

button.show {
  background-color: var(--color5);
  font-size: 50%;
}
