div.avatar {
  width: inherit;
  font-weight: 400;
  margin: 0, auto;
  color: inherit;
  text-align: left;
  font-family: var(--fontMetal);
  font-size: 2.5rem;
}

table.trades div.avatar {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
}

table.trades div.avatar span {
  height: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2rem 1rem;
}

table.trades td:hover > div.avatar,
table.trades td:hover > div.avatar span {
  overflow: visible;
  z-index: 1;
}

table.trades td:hover > div.avatar span {
  box-shadow: 0 0 2.5rem white;
}

td:hover > div.avatar span {
  background-color: black;
}

img.avatar {
  height: 5rem;
  width: auto;
  display: inline;
  margin-right: 1rem;
}

table.half img.avatar {
  height: 2.5rem;
  margin-right: 0.5rem;
}
